<div class="footer">
    <div class="bloque1">
        <h4>Pagina realizada por:</h4>
        <div class="names_footer">
            <ul>
                <li>Javier Martín</li>
                <li>Yoel Rodriguez</li>
                <li>David Huang</li>
                <li>Segi Matas</li>
                <li>Guillermo Torres</li>
            </ul>
        </div>
    </div>
    <div class="bloque2">
        <h4>Apoyados por:</h4>
        
            <li><img class="img-upgrade" src="https://media.licdn.com/dms/image/D4D0BAQEBbZYyBTHnFQ/company-logo_200_200/0/1694686354142/upgradehub_logo?e=2147483647&v=beta&t=vl-lgkU2a6Pn4bNICqhFEuExurAQTpfWgP1Qi1F9jJg"><p>Upgrade Hub</p></li>
        
    </div>
    <div class="bloque3">
        <h4>GitHubs:</h4>
            <ul>
                <li><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png"><a href="https://github.com/2KNocturno"><h4>Javier Martín</h4></a></li>
                <li><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png"><a href="https://github.com/YoelRI1981"><h4>Yoel Rodriguez</h4></a></li>
                <li><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png"><a href="https://github.com/dhx101"><h4>David Huang</h4></a></li>
                <li><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png"><a href="https://github.com/IamSergi96"><h4>Sergi Matas</h4></a></li>
                <li><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png"><a href="https://github.com/xGuiller"><h4>Guillermo Torres</h4></a></li>
            </ul>
    </div>
</div>