<div class="home--page__card">
    <h4 class="home--page__title">
        ¿Quienes somos?
    </h4>
    <p class="home--page__text">
            Somos un grupo de estudiantes, que por motivos laborales, hemos acabando teniendo una de las mejores decisiones de 
            nuestras vidas. Actualmente haciendo un proyecto juntos para mejorar academicamente.
            Los integrantes somos:
    </p>     
            <ul class="home--page__list">
                <li class="home--page__item">Javier Martin </li>
                <li class="home--page__item">Yoel Rodriguez </li>
                <li class="home--page__item">David Huang</li>
                <li class="home--page__item">Sergi Matas</li>
                <li class="home--page__item">Guillermo Torres</li>
            </ul>
   
</div>

<div class="home--page__card">
    <h4 class="home--page__title">
        ¿Que tal nos va el Bootcamp?
    </h4>
    <p class="home--page__text">
        Con altibajos, muchas cosas que aprender en muy poco tiempo. Algo normal teniendo en cuenta la magnitud de la curva de aprendizaje que tiene ser Desarrollador Full Stack.
        Son muchos conceptos y muchas manera de iterarlos pero con esfuerzo llegaremos a la meta.
    </p>
</div>

<div class="home--page__card">
    <h4 class="home--page__title">
        ¿Que futuro queremos?
    </h4>
    <p class="home--page__text">
        Sin duda, entrar en un empresa seria, para que nos terminen de formar academicamente, y sin duda, una larga trayectoria laboral sin complicaciones y una estabilidad tanto económica como laboral.
    </p>
</div>
