
<div class="search">
<input type="text" placeholder = "Busca tu videojuego"  [(ngModel)]="searchGame">
<button (click)="searchGames()">Buscar</button>
<button (click)="restablecer()">Volver</button>
</div>
<div class="gallery">
<div class="gallery">
  @for(game of games; track $index){
  <div class="div">
    <h2>{{ game.title }}</h2>
    <img class="gameImage" src="{{ game.image }}" alt="{{ game.title }}" />
    <h3>Género: {{ game.genre }}</h3>
    <p>Disponible para: {{ game.platform }}</p>
    <button (click)="setGameToEdit(game)" [routerLink]="['/editar/' + game.id]">
      Editar
    </button>
    <!-- lógica del boton de "Ver más" abajo -->
    <button [routerLink]="['/juegos/' + game.id]">Ver más</button>
  </div>
  }
</div>
