<div>
    <div class="titulo">
        <h3>Añadir juego</h3>
      </div>
      <div class="cuestionario">
        <div>
          <input type="text" placeholder="Nombre del juego" [(ngModel)]="games.title" />
        </div>
        <div>
          <input type="text" placeholder="Genero" [(ngModel)]="games.genre" />
        </div>
        <div>
          <input type="text" placeholder="Plataforma" [(ngModel)]="games.platform" />
        </div>
      
        <div>
            <input type="text" placeholder="Fecha de salida" [(ngModel)]="games.relese_date"/>
        </div>
        <div>
            <input type="text" placeholder="Descripción" [(ngModel)]="games.description"/>
        </div>  
      <div>
        <input type="text" placeholder="Desarolladora" [(ngModel)]="games.developer"/>
    </div> 
    <div>
        <input type="text" placeholder="Editora" [(ngModel)]="games.publisher"/>
    </div>
    <div>
        <input type="text" placeholder="Ruta de la imagen" [(ngModel)]="games.image"/>
      </div>
    
</div>
      <div class="boton">
        <button routerLink=" /content" (click)="addGame()">Añadir</button>
       
      </div>
    </div>
    <div class=" principal">
    <div class="pre">
       
        <p> Titulo: {{games.title}}</p>
        <p>Genero: {{games.genre}}</p>
        <p>Plataforma: {{games.platform}}</p>
        <p> Fecha de salida: {{games.relese_date}}</p>
        <p> Descripción: {{games.description}}</p>
        <p> Desarrolladora: {{games.developer}}</p>
        <p> Editora: {{games.publisher}}</p>
        <img src = "{{games.image}}" alt = "{{games.title}}">
      </div> 
       
    
    
    </div>
    
