<div>
    <div class="titulo">
        <h3>Añadir juego</h3>
      </div>
      <div class="cuestionario">
        <div>
          <input type="text" placeholder="Nombre del juego" [(ngModel)]="games.name" />
        </div>
        <div>
          <input type="text" placeholder="Genero" [(ngModel)]="games.genre" />
        </div>
        <div>
          <input type="text" placeholder="Plataforma" [(ngModel)]="games.platform" />
        </div>
        <div>
          <input type="text" placeholder="Ruta de la imagen" [(ngModel)]="games.image"/>
        </div>
        <div>
            <input type="text" placeholder="Fecha de salida" [(ngModel)]="games.relese_date"/>
        </div>
        <div>
            <input type="text" placeholder="Descripcion" [(ngModel)]="games.description"/>
        </div>  
      <div>
        <input type="text" placeholder="Desarolladora" [(ngModel)]="games.developer"/>
    </div>\>
    <div>
        <input type="text" placeholder="Editora" [(ngModel)]="games.publisher"/>
    </div>
</div>
      <div class="boton">
        <button (click)="addGame()">Añadir</button>
       
      </div>
    </div>
    <div class=" principal">
    <div class="pre">
        <img src = "{{games.image}}" alt = "{{games.name}}">
        <p>{{games.name}}</p>
        <p>{{games.genre}}</p>
        <p>{{games.platform}}</p>
        <p>{{games.image}}</p>
        <p>{{games.relese_date}}</p>
        <p>{{games.description}}</p>
        <p>{{games.developer}}</p>
        <p>{{games.publisher}}</p>
      </div> 
       
    
    
    </div>
    
