<div>
  <div class="titulo">
    <h3>Añadir juego</h3>
  </div>
  <div class="cuestionario">
    <div>
      <input
        type="text"
        placeholder="Nombre del juego"
        [(ngModel)]="game.title"
      />
    </div>
    <div>
      <input
        type="text"
        placeholder="Genero"
        [(ngModel)]="game.genre"
      />
    </div>
    <div>
      <input
        type="text"
        placeholder="Plataforma"
        [(ngModel)]="game.platform"
      />
    </div>

    <div>
      <input
        type="text"
        placeholder="Fecha de salida"
        [(ngModel)]="game.relese_date"
      />
    </div>
    <div>
      <input
        type="text"
        placeholder="Descripción"
        [(ngModel)]="game.description"
      />
    </div>
    <div>
      <input
        type="text"
        placeholder="Desarolladora"
        [(ngModel)]="game.developer"
      />
    </div>
    <div>
      <input
        type="text"
        placeholder="Editora"
        [(ngModel)]="game.publisher"
      />
    </div>
    <div>
      <input
        type="text"
        placeholder="Ruta de la imagen"
        [(ngModel)]="game.image"
      />
    </div>
  </div>
  <div class="boton">
    <button
    [routerLink]="['/juegos/']" routerLinkActive="router-link-active" 
      (click)="editItem()"
    >
      Editar
    </button>
    <button (click)="deleteItem()" [routerLink]="['/juegos']" routerLinkActive="router-link-active" >Eliminar</button>
  </div>
</div>
<div class="principal">
  <div class="pre">
    <p>Titulo: {{ game.title }}</p>
    <p>Genero: {{ game.genre }}</p>
    <p>Plataforma: {{ game.platform }}</p>
    <p>Fecha de salida: {{ game.relese_date }}</p>
    <p>Descripción: {{ game.description }}</p>
    <p>Desarrolladora: {{ game.developer }}</p>
    <p>Editora: {{ game.publisher }}</p>
    <img src="{{ game.image }}" alt="{{ game.title }}" />
  </div>
</div>
