<section>
  <div class="form">
    <h3>Añadir juego</h3>
    <div class="cuestionario">
      <div class="input-box">
        <label for="game-name">Nombre del juego:</label>
        <input
          id="game-name"
          type="text"
          placeholder="Nombre del juego"
          [(ngModel)]="game.title"
        />
      </div>
      <div class="input-box">
        <label for="genre">Genero:</label>
        <input
          id="genre"
          type="text"
          placeholder="Genero"
          [(ngModel)]="game.genre"
        />
      </div>
      <div class="input-box">
        <label for="platform">Plataforma:</label>
        <input
          id="platform"
          type="text"
          placeholder="Plataforma"
          [(ngModel)]="game.platform"
        />
      </div>
      <div class="input-box">
        <label for="date-1">Fecha de salida:</label>
        <input
          id="date-1"
          type="text"
          placeholder="Fecha de salida"
          [(ngModel)]="game.release_date"
        />
      </div>
      <div class="input-box">
        <label for="info">Descripción:</label>
        <textarea
          id="info"
          cols="15"
          rows="5"
          placeholder="Descripción"
          [(ngModel)]="game.description"
        ></textarea>
      </div>
      <div class="input-box">
        <label for="desarolladora">Desarolladora:</label>
        <input
          id="desarolladora"
          type="text"
          placeholder="Desarolladora"
          [(ngModel)]="game.developer"
        />
      </div>
      <div class="input-box">
        <label for="editora">Editora:</label>
        <input
          id="editora"
          type="text"
          placeholder="Editora"
          [(ngModel)]="game.publisher"
        />
      </div>
      <div class="input-box">
        <label for="img-url">Ruta de la imagen:</label>
        <input
          id="img-url"
          type="text"
          placeholder="Ruta de la imagen"
          [(ngModel)]="game.image"
        />
      </div>
    </div>
    <div class="boton">
      <button
        [routerLink]="['/juegos/']"
        routerLinkActive="router-link-active"
        (click)="editItem()"
      >
        Editar
      </button>
      <button
        (click)="deleteItem()"
        [routerLink]="['/juegos']"
        routerLinkActive="router-link-active"
      >
        Eliminar
      </button>
    </div>
  </div>
  <div class="gallery">
    <div class="div">
      <h1>{{ game.name }}</h1>
      <img class="gameImage" src="{{ game.image }}" alt="{{ game.title }}" />
      <h3>Género: {{ game.genre }}</h3>
      <p>Disponible para: {{ game.platform }}</p>
      <p>{{ game.description }}</p>
      <p>Fecha de lanzamiento: {{ game.release_date }}</p>
      <p>Desarrollado por:{{ game.developer }}</p>
      <p>Publisher:{{ game.publisher }}</p>
    </div>
  </div>
</section>
